.datepicker-dropdown-list {
  display: inline-block;
  max-height: 250px;
  overflow-y: auto;
  margin: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  li {
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    list-style: none;
    height: 35.71px;

    font-family: inherit;
    padding: 0px !important;
    display: block;
    line-height: 12px;
    &[data-selectable] {
      cursor: pointer;

      &:hover {
        outline: 0;
        background: #eee;
      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .focused-item {
    /* border-top:1px solid gray; */
    /* border-bottom:1px solid gray; */
    color: #f9676b;
  }

  ul li:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
}
